<% treatments.each do |treatment| %>
<div class="card mb-1">
  <div class="card-body">
    <p class="card-text"><%= treatment.affected_on %></p>
    <p class="card-text"><%= treatment.drug_name %></p>
    <p class="card-text"><%= simple_format treatment.content %></p>
    <p class="card-text"><%= simple_format treatment.advice %></p>
  </div>
</div>
<% end %>