    <thead>
      <tr>
        <th>
          <h3>登録疾患名</h3>
        </th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @onsets.each do |onset| %>
      <tr>
        <td><%= onset.disease.name %></td>
      </tr>
      <% end %>
    </tbody>
    </table>
    <%= link_to "疾患選択", diseases_path %></li>