<h2 style="text-align:center">メッセージ一覧</h2>


<% @conversations.each do |conversation| %>

<div style="text-align:center"><% if conversation.target_user(current_user).present? %>
  <%= link_to conversation.target_user(current_user).name, conversation_messages_path(conversation)%></div><br>
<% end %>

<% end %>