<p> nancone<p>
    <nav id="g_navi">
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/concept">マイページ</a></li>
        <li><a href="/menu">疾患選択</a></li>
        <% if user_signed_in? %>
        <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "ログイン", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>