<h1>Diseases#index</h1>

<table>
  <thead>
    <tr>
      <th>number</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%# gem devise 確認用%>
  <%# <div>あなたの名前:<%= current_user.name %>