<h1>検索結果</h1>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">告示番号</th>
      <th scope="col">名前</th>
    </tr>
  </thead>

  <tbody>
    <% @results.each do |disease| %>
    <tr>
      <td align="center"><%= link_to disease.number, disease %></td>
      <td><%= link_to disease.name, disease %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div style="text-align:center">
  <%= link_to '疾患一覧に戻る', diseases_path %>
</div>