dl.searchbox{
  width: 400px;
  position:relative;
  background-color:#fff;
  border:1px solid #aaa;
  border-radius:6px;
}

dl.searchbox dt{
  padding:3px;
}

dl.searchbox dt input{
  width:70%;
  height:30px;
  line-height:30px;
  background:none;
  border:none;
}
dl.searchbox dd{
  position:absolute;
  top:1px;
  right:1px;
  width:30%;
}
.search-btn{
  display:block;
  background:#5fad35;
  width:100%;
  height:36px;
  line-height:36px;
  border:none;
  border-radius: 0 6px 6px 0;
  color:#FFF;
}

.search-btn:hover {
  background:#228B22;
}

.parent{
  width:400px;
  margin:0 auto;
 }