.user_field {
	width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

.actions{
	width: 100%;
  margin: 0 auto;
  max-width: 500px;
}

input{
	width: 100%;
  margin: 0 auto;
}

select{
	width: 100%;
  margin: 0 auto;
}

textarea{
	width: 100%;
  margin: 0 auto;
}

.user_strong{
	display: inline-block;
	text-align: right;
	width: 150px;
}
.user_a {
	display: inline-block;
	text-align: left;
	width: 150px;
}