<p id="notice"><%= notice %></p>

<p>
  <strong>treatment_cost:</strong>
  <%= @expense.treatment_cost %>
</p>

<%= link_to 'Edit', edit_disease_expense_path(@expense) %> |
<%= link_to 'Back', disease_path(@expense.disease_id) %>